.navbar {
  padding-left: 200px;
  display: flex;
  height: 50px;
  background-color: darkblue;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  margin-right: 30px;
}

.navbar__left-chapter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__right-chapter {
  display: flex;
  flex-direction: row;
  margin-left: 1000px;
  align-items: center;
}

.navbar__header,
.navbar__login {
  color: rgb(49, 49, 117);
  font-size: 1.5rem;
  font-weight: 600;
}
.navbar__registration {
  color: rgb(49, 49, 117);
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 50px;
}
